<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>120Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>BurstMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ClassicMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Control.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>FeastMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>GameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>Gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>Gamecenter-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>GardenMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>Help-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>QuestMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RegularMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SoundOFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundOFF-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>emblems.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1920},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>spritesheet-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a0189fe9f9713cfa7ae8b07c6d1ad3$</string>
            <key>textureFileName</key>
            <string>spritesheet-1.png</string>
        </dict>
    </dict>
</plist>
