<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>120Shadow-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>BurstMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>ClassicMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Control-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>FeastMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Frame-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>GameBackground-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>Gamecenter-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>Gamecenter-selected-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>GardenMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Help-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>Help-selected-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>QuestMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>RegularMode-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,960},{240,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>SoundOFF-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundOFF-selected-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON-selected-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>emblems-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1920},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>spritesheet-1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc2fa68ad0afbea2a6e365f871f177de$</string>
            <key>textureFileName</key>
            <string>spritesheet-1.png</string>
        </dict>
    </dict>
</plist>
