<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Control.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>GameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>GameOverBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>PauseMenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>SoundOFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundOFF-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>SoundON-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,960},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>emblems.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,960},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df69a6550615dbf623af6ce4453fee9e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
