<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameOverBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>HelpLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>OptionsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>PauseMenuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet-2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba1b4705ffbdf107d84560b8dc2e8c0d$</string>
            <key>textureFileName</key>
            <string>spritesheet-2.png</string>
        </dict>
    </dict>
</plist>
